.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;  
}

.produtoImagem{
  margin: 0 auto;
  margin-left: 35%;
  float: left;
}

.produtoInfo{
  float: left;
  margin-left: 150px;
  
}

.imagecard{
  float: left;
  align-items: center;
}

.vendedor{
  font-family: sans-serif;
  text-align: left;
  float: left;
  margin-right: 25px;
}

.tipo{
  font-family: sans-serif;
  text-align: center;
  float: none;
  margin-left: 10px;
  margin-right: 5px;
}

.nota{
  font-family: sans-serif;
  text-align: right;
  margin-left: 30px;
}

.espaco{
  margin-top: 40px;;
}

.titulo{
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.descricao{
  text-align: justify;
  float: left;
  font-family: sans-serif;
  text-wrap:wrap;
  padding: 1%;
}

.descricaoBox{
  align-items: baseline;
  width: 700px;
  
}

.imagem{
  width: 400px;
  height: 650px;
}